<h2 class="logo_head">Wartezeit Assistent</h2>
<h3 class="sublogo_head">Universitätsklinikum rechts der Isar</h3>

<p>Wenn Sie sich trotz der aufgezeigten Alternativen dazu entscheiden sollten, in die Notaufnahme zu gehen, würden Sie die Abläufe sehr vereinfachen, wenn Sie die eingegebenen Daten mitbrigen.<br> Wir stellen ihnen hierfür einen QR Code bereit,
	der alle Daten beinhaltet. <br>Bitte zeigen Sie den QR Code im Krankenhaus ausgedruckt oder auf ihrem Handy vor. Sie können sich den Code auch per Email schicken lassen:
	
</p>
<div style="text-align: center;">
<ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value" qrc-class = "aclass">
</ngx-qrcode>
</div>