<mat-accordion>

	 <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Was ist ImmediAID?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>TODO</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wer ist ImproveMed?
      </mat-panel-title>

    </mat-expansion-panel-header>

	ImproveMed ist ein professionelles Forschungsteam und zugleich Gründungsteam von der Technischen Universität München, entstanden aus einem Projekt. 
	Die Gründer besitzen Expertise in Software, Gesundheitsmanagement, sowie allen Bereichen der Betriebswirtschaft.


  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Welche Vorteile bietet mir ImmediAID?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>Deine Wartezeit wird verkürzt, da deine Mitmenschen gewissenhafter zur Notaufnahme gehen. Ebenso wird deine Verweilzeit in der Notaufnahme verkürzt, da du mit deiner Selbsteinschätzung zur Triage beiträgst. Solltest du dich gegen den Gang zur Notaufnahme entscheiden, bieten wir dir Alternativen in Kooperation mit unseren Partnern.
</p>
  </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Was mache ich mit dem QR-Code?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>Der QR-Code anonymisiert ihre Daten. Ihre Ergebnisse zur Selbsteinschätzung werden hinter einem Zahlencode abgespeichert. Diesen Zahlencode können Sie dem Krankenhauspersonal vorzeigen. Dieser wird eingescannt und ihre Daten werden abrufbar. Dies beschleunigt ihren Aufenthalt in der Notaufnahme.
</p>
  </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Kann meine Selbsteinschätzung meine Wartezeit in der Notaufnahme verlängern?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>Nein, sie machen die Selbsteinschätzung in erster Linie für sich selber um ihre Wartezeit einzuschätzen. Eine Voreinschätzung ihrer Dringlichkeit wird ansonsten auch in der Notfallaufnahme gemacht, nur dass sie dort vom Pfleger und nicht von sich selbst eingeschätzt werden.
</p>
  </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Wieso erfahre ich nicht am Ende in welcher Triage-Stufe ich eingestuft werde?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>Wir wollen nicht, dass Sie ihre Selbsteinschätzung verfälschen.</p>
  </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
Ich höre zum ersten Mal von diesem Produkt. Stimmen die Wartezeiten überhaupt?
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <p>Wir sind ein neues Startup und schätzen ihr vertrauen. Wir unterstützen vorerst in erster Linie das Krankenhaus an der Isar. Unsere Wartezeiten sind ohne Gewähr. Aber das Produkt durchlief zahlreichen Testdurchläufen und wird langfristig für jedes Krankenhaus in Deutschland verfügbar sein.
</p>
  </mat-expansion-panel>
</mat-accordion>










