<p>Ihre Wartezeit berechnet sich aus verschiedenen Faktoren, um auch den vielschichtigen Umständen in der Notaufnahme gerecht zu werden. 
Wir legen unseren Algorithmus gerne für Sie offen, um Zuverlässigkeit und Nachvollziehbarkeit zu gewährleisten:</p>
<ul>
<li>Triage Verfahren:<br><br>
Die Triage des Wartezeit-Assistenten beruht auf dem sogenannten Manchester-Triage-System (MTS). Dieses ist deutschlandweit das am häufigsten implementierte und am besten eingeführte, innerklinische Triage-System.

Das MTS ist ein fünf-stufiges Konzept mit einer Farbkodierung zwischen, für sehr dringliche Fälle, bis weiß, falls kein Notfall besteht. Prinzipiell orientiert sich die Einstufung des Patienten an dessen Symptomen, nicht an Diagnosen. Hierbei liegen dem MTS definierte Diagramme zu Grunde. Wie auch in anderen Systemen gibt es sogenannte Indikatoren (Diskriminatoren) anhand derer die Einteilung zu den vorgegebenen Dringlichkeitsstufen erfolgt. Diese ca. 200 Indikatoren sind in 50 Flowcharts zu verschiedenen Beschwerdekomplexen zusammengefasst. Unterschieden werden generelle und spezielle Indikatoren. Erstere sind allgemein gehalten, letztere hingegen bilden Symptomenkomplexe.

Quellverweis:: A. Bonk 2009, “Triage-Systeme in der Zentralen Notfallaufnahme”
 
</li>
<br><br>
<li>
Aktuelle Auslastung der Notaufnahme:<br><br>

Ebenso spielt der Zeitpunkt des Eintreffens in der Notaufnahme eine große Rolle. Aus diesem Grund verwenden wir Echtzeitdaten, sowie statistische Daten und setzen Sie in Bezug zur derzeitigen Auslastung im Wartezimmer der Notaufnahme. 
</li>
</ul>
