

body {
	background-color: #ffffff;
	overflow-y: scroll;
}



@media screen and (max-width: 900px) {

	.sidebar{
display:none;


}

.header{
	display: block;
	position: relative;
	padding: 10px 0 0 0;
	height: 9%;
	max-height: 100	px;
}

.header mat-icon {
  font-size:  3em;
}

.menu{

  position: absolute;
  left: 6%;
  
  top: 50%;
  transform: translate(-50%, -50%);



	
	

}

.logo_container{
	height: 90%;




}

.logo_container img {
	height: 100%;
float: right;
padding: 0 15px 0 0; 
	
}

.header_grey{
	background-color:#7d81842b;
	height:10%;
	border-bottom: 1px solid black;
	border-top: 1px solid #e1e1e1;


}


.main_content{
display: inline-block;
background-color:#337ab74d;
margin: 0 auto;
min-width: 100%;
text-align: left;
min-height: 600px;
overflow: auto;






}


.wrapper {

padding-top: 15px;
min-height: 700px;
background-size: 100%;



}

}


@media screen and (min-width:900px) and (max-width: 1100px) {


.wrapper {

padding-top: 15px;
min-height: 700px;
background-size: 100%;



}




	.sidebar{
display:none;


}

.header{
	display: block;
	position: relative;
	padding: 10px 0 0 0;
	height: 9%;
	max-height: 100	px;
}

.header mat-icon {
  font-size:  3em;
}

.menu{

  position: absolute;
  left: 6%;
  
  top: 50%;
  transform: translate(-50%, -50%);



	
	

}

.logo_container{
	height: 90%;




}

.logo_container img {
	height: 100%;
float: right;
padding: 0 15px 0 0; 
	
}

.header_grey{
	background-color:#7d81842b;
	height:10%;
	border-bottom: 1px solid black;
	border-top: 1px solid #e1e1e1;


}


.main_content{
display: inline-block;
background-color:#337ab74d;
margin: 0 auto;
width: 800px;
text-align: left;
min-height: 600px;
overflow: auto;






}

}




@media screen and (min-width: 1100px) {
	 /*normal view */


.wrapper {

padding-top: 60px;
min-height: 700px;
background-size: 100%;



}

	 .sidebar{
min-width: 280px;

float: left;
display:block;

margin-right:20px;

}


.main_content{
display: inline-block;
background-color:#337ab74d;
margin: 0 auto;
width: 800px;
overflow-y: auto;

height: 600px;
text-align: left;






}

.header{
	display: none;
}

}






.content_wrapper{


margin: 0 auto;
max-width: 1100px;
margin-bottom: 250px;
text-align: center;


}








.another_class{

position:relative;
background: linear-gradient(165deg, #ffffff80 25%, #0e7df21a 100%);
/*min-height: 0 !important;*/
min-height: 600px;



}



.inner_info{

padding: 7% 10% 7% 10%;
}

.cookie{
	padding:0 5% 0 5%;
	margin: 0;
	text-align: center;
}



