
.logo_head{

font-family: 'Roboto', sans-serif;
color: #717171;
font-size:28px;

}

.sublogo_head{
margin-left: 65px;
margin-bottom: 40px;
font: 300 20px Roboto,"Helvetica Neue",sans-serif;
color:black;

}