

  <div class="logos_menu">
  
  <a href="https://www.mri.tum.de/notaufnahme" class="link_menu" title="" id="logo_clinic">
  
  <img src="/assets/img/clinic_logo.svg"  alt="Clinic Logo">
  </a>
  

  
  <a href="https://www.tum.de/" class="link_menu" title=""  id="logo_tum">
  
  <img src="/assets/img/tum_logo_l.png"  alt="TUM Logo">
  </a>



    <a href="/" class="link_menu" title=""  id="logo_imp">
  
  <img src="/assets/img/immediaid.png" alt="improvmed_logo">
  </a>
  </div>
  
  
  
  <div class="menu_item_wrapper">

  <ul>
    <nav>
		<li>    <button mat-menu-item routerLink="/start"> 
    <mat-icon>home</mat-icon>
    <span>Start</span>
  </button></li>
      <li>  <button mat-menu-item routerLink="/info/facts-er" >
    <mat-icon>local_hospital</mat-icon>
    <span> Fakten zur Notaufnahme</span>
  </button></li>
       <li>


  <button mat-menu-item routerLink="/info/algorithm">
    <mat-icon>settings</mat-icon>
    <span>Wie funktioniert der Algorithmus?</span>
  </button></li>
  <li>    <button mat-menu-item routerLink="/info/faq">
    <mat-icon>question_answer</mat-icon>
    <span>FAQ</span>
  </button></li>
  <li>
    <button mat-menu-item routerLink="/info/impressum">
    <mat-icon>verified_user</mat-icon>
    <span>Impressum & Datenschutz</span>
  </button></li>
  



  </nav>
  </ul>

</div>

