<div style="text-align:center; margin-bottom:30px;">

<iframe width="500" height="375" src="https://www.youtube.com/embed/PYPP9gKAhTY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<mat-card>
	70 % aller Patienten in der Notaufnahme sind keine Notfälle

</mat-card>

<mat-card>
	TODO more facts brlastung gesundheitsystem auslastung mitarbeiter wie viele deutsche gehen pro jahr in er usw.

</mat-card>

<mat-card>
	TODO more facts brlastung gesundheitsystem auslastung mitarbeiter wie viele deutsche gehen pro jahr in er usw.

</mat-card>
<mat-card>Die Auslastung in der Ambulanz ist Montags bis Freitags von 8 bis 12 Uhr besonders hoch. 
	Auch an Feiertagen oder städtischen Festen muss mit langen Wartezeiten gerechnet werden.
</mat-card>


<mat-card>
	<mat-card-header>
		<mat-card-title>Klinikum rechts der Isar</mat-card-title>
	</mat-card-header>

	Im Jahr 1834 als Stadtteilkrankenhaus gegründet, verbindet das Klinikum rechts der Isar heute als moderne Uniklinik Tradition und Fortschritt. 
	Mit rund 30 Kliniken, 20 interdisziplinären Zentren und 1.161 Betten deckt das Klinikum der Supramaximalversorgung das gesamte Spektrum moderner Medizin ab. 
	Zusätzlich erforschen die Mitarbeiter unserer zahlreichen wissenschaftlichen Institute Krankheiten und neue Therapiemöglichkeiten.

Vom Haidhausender Stadtteilkrankenhaus zum Universitätsklinikum rechts der Isar mit 5.500 Mitarbeiter, 1.161 Betten und  257.000 ambulant behandelte Patienten pro Jahr.

</mat-card>


